<div style="text-align: center;">
  
  <h1>Grocery List Application</h1>

  <h2>Grocery Item Input Box</h2>

  <app-grocery-list> </app-grocery-list>
</div>

<div>
  <h2> Grocery list manager </h2>

  <div class="row">
      <div class="col-xs-6 col-md-4">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="enter grocery items" id="txtSearch" />
              <div class="input-group-btn">
                  <button class="btn btn-primary" type="button">
      <span class="glyphicon glyphicon-ok"></span>
      </button>
              </div>
          </div>
      </div>
  </div>

</div>